In [1]:
#tuple() #immutable #no inbuilt fn's
#tuple is faster than a list
tup1 = (1,2,3,"text")

In [2]:
id(tup1)

2110287419872

In [3]:
#no inbuilt function intuple
tup1 = (1,2,3,4,"text",54)

In [4]:
id(tup1)

2110282752320

In [5]:
tup1.count("text")

1

In [6]:
tup1.index("text")

4

In [7]:
#no inbuild function in tuple
tup1 = (1,2,3,"true",53)

In [8]:
id(tup1)

2110286934832

In [9]:
tup1

(1, 2, 3, 'true', 53)

In [10]:
tup2 = ("excelr","solutions")

In [12]:
tup1 = tup1 + tup2n  #'+'
tup1

(1, 2, 3, 'true', 53, 'excelr', 'solutions', 'excelr', 'solutions')

In [13]:
type(tup1)

tuple

In [14]:
len(tup1)

9

In [15]:
tup1

(1, 2, 3, 'true', 53, 'excelr', 'solutions', 'excelr', 'solutions')

In [17]:
tup1 = (1,2,3,"text",54,"excelr","soluton")
print(tup1)

(1, 2, 3, 'text', 54, 'excelr', 'soluton')

In [18]:
tup1[3:5]

('text', 54)

In [20]:
del(tup1) #del(var) - delete function

In [22]:
tup1 = (1,2,3,4,"text")
tup1*4

(1,
 2,
 3,
 4,
 'text',
 1,
 2,
 3,
 4,
 'text',
 1,
 2,
 3,
 4,
 'text',
 1,
 2,
 3,
 4,
 'text')

In [24]:
A = 10 ; B = 20
A-B , A*B , A/B

(-10, 200, 0.5)

In [28]:
a = (10,20,30)
#the default packing of element in python is tuple
print(type(a),a)

<class 'tuple'> (10, 20, 30)

In [30]:
# Dictionary #dict() #syntax = {key:value}

# key is also know a key or index

# there no indexing for dict -> mapped sequence

dict1 = {} #empty dict -> {} or dict()

In [31]:
dict1

{}

In [32]:
type(dict1)

dict

In [33]:
len(dict1)

0

In [34]:
dict2 = {"name":"excelr solution","year":2023}
dict2

{'name': 'excelr solution', 'year': 2023}

In [35]:
#no indexing (both +ve and -ve)
#indexing will be done on basis of keys

dict2["name"]

'excelr solution'

In [37]:
dict2["year"]

2023

In [3]:
dict2 = {'name':'Excelr Solution','year':2023}

In [4]:
dict2

{'name': 'Excelr Solution', 'year': 2023}

In [5]:
#updating
dict2['course']=['Data Analyst'] #dict["new key"]=["new_value"]

In [6]:
dict2

{'name': 'Excelr Solution', 'year': 2023, 'course': ['Data Analyst']}

In [7]:
dict2.update({"newcourse":"Python"}) #to add or update new element in existing dict

In [8]:
dict2

{'name': 'Excelr Solution',
 'year': 2023,
 'course': ['Data Analyst'],
 'newcourse': 'Python'}

In [9]:
dict2["year"]=1013

In [10]:
dict2

{'name': 'Excelr Solution',
 'year': 1013,
 'course': ['Data Analyst'],
 'newcourse': 'Python'}

In [11]:
dict2.keys()

dict_keys(['name', 'year', 'course', 'newcourse'])

In [12]:
dict2.values()

dict_values(['Excelr Solution', 1013, ['Data Analyst'], 'Python'])

In [13]:
dict2.items()

dict_items([('name', 'Excelr Solution'), ('year', 1013), ('course', ['Data Analyst']), ('newcourse', 'Python')])

In [16]:
#pop()  #need a argument called key
dict2.pop('newcourse') #dict.pop("key")

'Python'

In [17]:
#popitem()  #bydefault removes the last item
dict2.popitem()

('course', ['Data Analyst'])

In [18]:
dict2

{'name': 'Excelr Solution', 'year': 1013}

In [19]:
del(dict2["year"])

In [20]:
dict2

{'name': 'Excelr Solution'}

In [24]:
dict2 = {'name':'Excelr Solution','year':2023}
dict2

{'name': 'Excelr Solution', 'year': 2023}

In [26]:
dict_new = dict2.copy() #can be also written as -> dict_new = dict2

In [27]:
dict_new

{'name': 'Excelr Solution', 'year': 2023}

In [28]:
dict2.get("name")  #can be also written as dict2["name"]

'Excelr Solution'

## set

In [29]:
# syntax for set is {1,2,3,4}  #set()

set1 = {1,2,3}  #set
print(set1)

{1, 2, 3}

In [30]:
type(set1)

set

In [31]:
#set - union, intersection , symmetric
# mutable , union values(no duplicates will be considered),
#no positional indexing no positional indexing,
#orderd dataset

set1 = {1,2,3,4,4} #dupllicates are not allowed
print(set1)

{1, 2, 3, 4}

In [33]:
#why no indexing
print({4,4,1,2,3})

{1, 2, 3, 4}

In [34]:
set2 = set() #empty set - set() (there is no other way)

In [36]:
type(set2)

set

In [37]:
len(set2)

0

In [38]:
type({})  #empty dict

dict

In [39]:
list({1,2,3,4,55})

[1, 2, 3, 4, 55]

In [40]:
tuple([1,2,3,4,3])

(1, 2, 3, 4, 3)

In [43]:
tuple({1,4,4,4})

(1, 4)

In [44]:
set3 = set([1,2,3,4,4,4]) #converting a list to set by using set fn

In [45]:
set3

{1, 2, 3, 4}

In [ ]:
set.

In [1]:
#union 

s1 = {1,2,3}
s2 = {3,4,5}

s1.union(s2) #.union  #s2.union(s1)

{1, 2, 3, 4, 5}

In [2]:
s1|s2  # | - union

{1, 2, 3, 4, 5}

In [3]:
#.intersection()
s1 = {1,2,3}
s2 = {3,4,5}

s1.intersection(s2)  #s1.insection(s2)

{3}

In [ ]:
s1&s2 #intersection

In [7]:
#Differnce (A-B)
s1 = {1,2,3,4,5,6}
s2 = {5,6,7}

s1-s2
s1.difference(s2)

{1, 2, 3, 4}

In [8]:
#symmetric difference

s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 7, 8}

In [10]:
s1 = {1,2,3,4,5,6}
s2 = {1,2,3}

s1.issubset(s2)
s2.issubset(s1)

True

In [12]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s1.intersection_update(s2)
print(s1)

{1, 2, 3}

In [13]:
s1

{1, 2, 3}

In [15]:
help(set.mro)

Help on built-in function mro:

mro() method of builtins.type instance
    Return a type's method resolution order.

In [14]:
set.mro()

[set, object]

In [ ]:
#int,float - numerical data
#list,tuple - mix of collection item
#set - orderd ,non duplicate& to filter the data
#string - storing text data
#dictionary - (to strore the key:value) #mapped dequence

## Input

In [ ]:
x = 10 ; Y = 20 # static coding #values of the var's ae already prefixed

In [16]:
#Dynamic coding #input()
name = input("please enter your name: ")

please enter your name: Shubham Mule

In [17]:
name

'Shubham Mule'

In [18]:
type (name)

str

In [21]:
year = int(input("please enter year: ")) #int() 
#by default , input() wil take any input as string format

please enter year: 2023

In [22]:
print(type(year),year)

<class 'int'> 2023

In [23]:
weight = float(input ("please enter your weight: "))

please enter your weight: 56.23

In [24]:
print(type(weight),weight)

<class 'float'> 56.23

In [25]:
# eval() - evaluate  #Pass the data in exact syntax
new_input = eval(input("please enter some dtype: "))

please enter some dtype: {"key":"value"}

In [26]:
print(type(new_input),new_input)

<class 'dict'> {'key': 'value'}

In [34]:
new_input2 = list(input("please enter your name: "))

please enter your name: shivaji

In [35]:
print(type(new_input2),new_input2)

<class 'list'> ['s', 'h', 'i', 'v', 'a', 'j', 'i', ' ']

## print statements in python

In [36]:
name = input ("enter the name: ")
print(name)

age = input ("enter the age: ")
print(age)

enter the name: shubham
shubham
enter the age: 23
23

In [37]:
print("hello",name)

hello shubham

In [41]:
print("Hello"+" "+name,"the age is"+" "+str(age))

Hello shubham the age is 23

In [43]:
#format()
#helps to assign vlaues automattically 
#o need to bother about type
print("Hello {}, the age is {}".format(name,age))

Hello shubham, the age is 23

In [47]:
print("{0} is {1} years old". format(name,age))

shubham is 23 years old

In [48]:
print("Hello {0}, the age is {1} and {1}".format(name,age))

Hello shubham, the age is 23 and 23

In [ ]:
#standard way of using print statement
#format - {}
#print("{} is {} years old".format(name,age))
#print("{0} is {1} years old".format(name,age))

In [50]:
#\n - New line
str_new = "this is an example \n for your understanding"
print(str_new)

this is an example
 for your understanding

## Identity Operators

In [54]:
#Identical operator -> is,is not
a = 10
b = 10
print(a==b)
print(a is b) # a is nothig but b

True
True

In [55]:
a = 'hello'
b = 'hello'
a is not b

False

In [58]:
a = 256
b = 256
print(id(a))
print(id(b))
print("output of a is b:", a is b)

print("output of a == b: ", a == b)

2643665363152
2643665363152
output of a is b: True
output of a == b:  True

In [61]:
# -5 to 256bytes - they'all be stored in same id #python memory location prefixed
# > 256 - python creates individual memory id for the variable. i.e if any variable is having value 
#own id
a = 257
print("a id",id(a))
a = 257
print("b id",id(b))

print("output of a is b:", a is b) #not only the value but id should be same
print("output of a==b: ", a==b)

a id 2643786441520
b id 2643665363152
output of a is b: False
output of a==b:  False

In [62]:
#Membership operators #in , not in #
list1 = [1,2,3,"Hi","hello"]
str1 = "excelr solution"

In [63]:
1 in list1

True

In [64]:
4 in list1

False

In [65]:
"Hi" in [1,2,3,"Hi","hello"]

True

In [66]:
"excelr" in str1

True

In [67]:
dict = {"name":"python","course":"selenium"}

In [68]:
"name" in dict

True

In [69]:
"python" in dict

False

In [70]:
dict.keys()

dict_keys(['name', 'course'])

In [71]:
dict.values()

dict_values(['python', 'selenium'])

In [73]:
"name" in dict.keys()

True

## Conditional Statements

In [2]:
#if condition  #single condition 
# condition - check whether num is positive -> num>0
num = 2
if num>0:
    print("The {} is positive ".format(num))

The 2 is positive

In [3]:
#if else statements

#condition-1 : check num is positive 
#condition-else-> print negative

num = -4
if num>0:
    print("positive")
    print("this is 2nd line of if")
else:
    print("negative")

negative

In [8]:
# if elif else condition 
# checking the max value in three num
num1 = 10
num2 = 15
num3 = 30
#condition 1 -> num1 with num2 & num3
#condition 2 -> num2 with num1 & num3
#condition 3 -> num3 with num2 & num1
if (num1>num2 and num3<num1):
    print("num1 is greater")
elif (num2>num1 and num3<num2):
    print("num2 is greater")
elif (num3>num1 and num2<num3):
    print("num3 is greater")

num3 is greater

In [9]:
#nested if condition

#an if condition within a condition

num = int(input("please enter some number: "))
if num>=0: #here,num can be > 0 (or) num == 0
    if num==0:
        print("zero")
    else:
        print("positive")
else:
  print("negative")

please enter some number: 23
positive

### For loop

In [15]:
#forloop -> looping or iterations (no condition req)
# forloop will until the last element or last row or the last item

snaks = ["pizza","burger","apple"]

#1st loop -> x = "pizza"
#2nd loop -> y = "burger"
#3rd loop -> z = "apple"
#loop terminates
for x in snacks :
 print(x)

pizza
burger
apple

In [16]:
for x in "python":
    print(x)

p
y
t
h
o
n

In [18]:
# range() -> generate a range of  number -> range(Lowerlimit,upperlimit(n-1))
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
snaks = ['pizza','burger','apple']
# print(snaks[0])
# print(snaks[1])
# print(snaks[2])

#structure -> print([snaks[x]])
#1st loop -> x = "pizza"
#2nd loop -> y = "burger"
#3rd loop -> z = "apple"
for x in range(0,3):
    
    print(snacks[x])

pizza
burger
apple

In [23]:
len(snacks)

3

In [24]:
for x in range(0,len(snacks)):
    print(snaks[x])

pizza
burger
apple

In [25]:
#for each item in sequence , last item reached , no - body of loop , yes ,exit loop

#Ex:
snaks  = ['pizza','burger','apple']

for x in snaks:
    print("curent snack  is:",x)
print("Good Day!")

curent snack  is: pizza
curent snack  is: burger
curent snack  is: apple
Good Day!

In [26]:
#finding even or odd number
# num%2 == 0 -> even
num = 10
if num%2 == 0:
    print("{}".format(num))
else:
    print("odd",num)

10

In [27]:
#if else condition in for loop
#find even and odd num from o to 10
for x in range (0,11):
    if x%2 == 0:
        print(x,"is even")
    else:
        print(x,"is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [28]:
#nasted for loop 
# a forloop within for loop

list1 = ["google","yahoo","facebook"]
list2 = [".org",".com",".in"]

for x in list1: #main loop #3times 
    for y in list2: #subloop #3times
        print(x,y)

google .org
google .com
google .in
yahoo .org
yahoo .com
yahoo .in
facebook .org
facebook .com
facebook .in

In [33]:
#Nasted for loop 

#combination of number

list1 = ["google","yahoo","facebook"]
list2 = [".org",".com",".in"]

for i in range(0,len(list1)): #range(0,3)
    for j in range (0,3):
        print(i,j)
        print(list1[i]+list2[j])

0 0
google.org
0 1
google.com
0 2
google.in
1 0
yahoo.org
1 1
yahoo.com
1 2
yahoo.in
2 0
facebook.org
2 1
facebook.com
2 2
facebook.in

In [36]:
#for loop with else:
digits = [0,1,5]

for i in digits:
    print(i)
else:
 print("No Items Left")

0
1
5
No Items Left

## While Loop

In [ ]:
#while condition is true, then run the functions
#if condition is false -> then terminate the loop

num = 10 
while num<11:

    #infinite loop

In [38]:
num = 5
while num<10:
    print(num)
    num = num+1  #num+=1 #countr

5
6
7
8
9

In [46]:
num = 5
sum=0
while num<=10:
    print(num)
    sum+=num
    num = num+1 #idealy, keep the counter step in the last step
    
    
    
    
print(sum)

5
6
7
8
9
10
45

In [47]:
# while loop with else 
# Example to illustrate
# the use of else statement 
# with the while loop

counter = 0
while counter < 3:
    print("Inside Loop")
    counter = counter + 1
else:
    print("Inside else")

Inside Loop
Inside Loop
Inside Loop
Inside else

In [50]:
list(range(1,5+1))

[1, 2, 3, 4, 5]

In [55]:
#finding the factoria for given number

#-ve - no factorial
#0! - 1 and 1! = 1


num = int(input("please enter some int"))
val=1
if num<0:
    print("no factorial for -ve values")
elif num==1 or num==0:
    print("1 is the factorial of{}".format(num))
else:
    for x in range(1,num+1):
        val  = val*x
print(val)

please enter some int5
120

## function

In [56]:
def say_hello():
    print("Hello")

In [59]:
def say_hello2(name): #here,name is required argument:
    print("Hello",name)

In [62]:
say_hello2("shubham")

Hello shubham

In [63]:
def say_hello3(name,age=25): #there, name is mandatory arg, age is default
    print("Hello {}, the age is {}".format(name,age))

In [66]:
say_hello3(40,"python")

Hello 40, the age is python

In [68]:
#finding the cube
# num**3

def cub(num):
    val = num**3
    raturn val             # print(val)

In [69]:
cub(3)

27

In [70]:
def cube_new(num):
    return num**3

In [71]:
cube_new(3)

27

In [72]:
def cube_inp():
    num = int(input("please enter some value"))
    return num**3

In [73]:
cube_inp()

please enter some value3

27