## Chapter 1 - First Python Programming

### 1[a] Hello World

In [3]:
print('welcome to python session')

welcome to python session

In [5]:
print("shubham will become data scientist at the end of this year")

shubham will become data scientist at the end of this year

In [9]:
print("""shubahm replied, "ganesh session is nit bad".""")

shubahm replied, "ganesh session is nit bad".

In [10]:
print("""shubham says ganesh session is not bad,
     welcome""")

shubham says ganesh session is not bad,
     welcome

### Cteate a variable

In [11]:
participants = ['shubham','ganesh','gita']
#LHS = Variable
#RHS = Values
#In Python, index number always stars from 0.

In [12]:
len(participants)

3

In [14]:
participants[2]

'gita'

In [15]:
participants[1:2]

['ganesh']

In [16]:
participants[1:]

['ganesh', 'gita']

In [17]:
participants[:3]

['shubham', 'ganesh', 'gita']

## =========================================================================

# Chapter 2 - String and String Methods

#### Different Data types
* Integer - numbers without decimal values.
* Float - numbers with decimal values.
* String - anything that comes under double quotes.

In [19]:
runs = 322
runs

322

In [20]:
type(runs)

int

In [21]:
marks = 8.9
marks

8.9

In [22]:
type(marks)

float

### 2[b] Concaatenation - Indexing - Slicing

In [29]:
fname = 'Shubham'
lname = 'ganesh'
age = 24

In [30]:
fname
lname
age

24

In [31]:
fname,lname,age

('Shubham', 'ganesh', 24)

In [32]:
print(fname + ' ' + lname + ' ' + str(age))  #typecasting

Shubham ganesh 24

In [33]:
type(age)

int

In [34]:
print(fname,lname,age)

Shubham ganesh 24

In [35]:
fname

'Shubham'

In [36]:
fname[0]

'S'

In [37]:
fname[0:5]

'Shubh'

In [38]:
fname[:-2]

'Shubh'

In [39]:
fname[2]

'u'

## =========================================================================

### 2[c] Manipulate with string

In [47]:
learner_1 = '   danial'
learner_2 = 'shubham   '
learner_3 = '     ganesh mule'
learner_4 = 'pritam'

In [48]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

   danial
shubham
     ganesh mule
pritam

In [42]:
len(learner_1)

9

In [43]:
len(learner_2)

10

### Terminology Alert:
#### Methods/Function both are same - It will get ended with().
### Why function?  To perform some operation on top of  my variable

In [ ]:
str.

In [49]:
learner_4.isupper()

False

In [50]:
learner_4.upper()

'PRITAM'

In [54]:
learner_1 = learner_1.lstrip()

In [56]:
learner_2.rstrip()

'shubham'

In [55]:
len(learner_1)

6

In [56]:
learner_2.rstrip()

'shubham'

In [58]:
learner_3.

'ganesh mule'

In [11]:
student_1='   shubh'
student_2='ram   '
student_3='   ramesh'
student_4='pritam'

In [12]:
print(student_1)
print(student_2)
print(student_3)
print(student_4)

   shubh
ram
   ramesh
pritam

### =======================================================================

### 2[d] interact with user-input

In [17]:
user_input = input('password : ')
print('First Letter starts with',user_input[0])

password : Shubh@123
First Letter starts with S

In [1]:
#python - programming language exctacting insights from the data using different modules or libraries 
#inbuild function - print,type , len etc ->
#print()
#commemts
print("Hello")

Hello

In [2]:
x = 6
y = 5
print(x,y)

6 5

In [3]:
#Datatypes
# integer -> whole number -> eg:1,,23,0
# float -> decimals -> eg:2.32,23.2
# bool -> True(1) False(0)

# string -> text or characters -> "text" or 'text'
# list -> mix of collection of item -> [] -> [1,2.4,True,"string"]
# tuple -> mix of collection of item -> (1,2.0,True,False,"string")
# dictionary -> syntax - {key1:value1,key2:value2,...,key:valuen} ->eg: {"name":"python","course":"DA"}
# set theory -> {1,2,3,45}

# DataFrame,Series,arry(matrice)

In [4]:
#variables
#no spaces in variable naming
#case sensitive
#meanigful var names should be written
a = 1+2
print(a)

3

In [ ]:
#syntaxerror: invalid syntax -> missing of punctuations, extra spaces in variable names etc
#Nameerror: name 'A_1' is not defained -> var is not yet defined

In [5]:
#assigning multiple variable
a,b,c,d=8,10,3,4
print(a,c,b,d)

8 3 10 4

In [7]:
var1,var2=0,0
print(var1,var2)

0 0

In [8]:
new_var=30.2

In [9]:
type(new_var)#tells you data type of variable

float

In [11]:
int(new_var)

30

In [12]:
float(new_var)

30.2

In [13]:
new_var=int(new_var)

In [14]:
new_var

30

In [16]:
new_int=25
new_int=float(new_int)
print(new_int)

25.0

In [17]:
#running multiple syntaxes in single line
a,b=23,34
print(a,b)

a,b=23,45 ; print(a,b)

23 34
23 45

In [20]:
a=2
b=3
a//b #floor division #elimates the decimal after dividing
a**b #exponential

8

In [21]:
c=a**b #exponential
c #print(c)

8

In [1]:
#comparitive operaters - ==, <,>,>=,<=,!=
A = 5
B = 5.0

A==B

True

In [2]:
A!=B

False

In [3]:
# = - assigning
# == - verifying

In [4]:
A=10
B=15
A=B
print(A,B)

15 15

In [5]:
a=10
b=20
c=0
c = c+b #c+=b #reassigning to a existing var
print(c)

20

In [6]:
print(a,b,c)

10 20 20

In [9]:
c -= b
c

0

In [13]:
a *= b
print(a)

640000000

In [14]:
a //= b 
a

32000000

In [15]:
a =10; b= 3
a%b

1

## String

In [19]:
#syntax  #immutable
#string -> text or character -> "text" or 'text' -> text sequencing -> indexing(+ve & -ve)


str1 = "excelr"
print(str1)

# text sequence
#  e  x  c  e  l  r
#  0  1  2  3  4  5  +ve indexing
# -6 -5 -4 -3 -2 -1  -ve indexing


#slicing or accessing
#indexing -> []


#str1[1:4] #+ve

excelr

In [20]:
#type() - inbuild
str1[1:4] #str[lowerlimit:upperlimit(n-1)]

'xce'

In [21]:
str1[1:5]

'xcel'

In [22]:
str1[-5:-2]  #-ve indexing

'xce'

In [ ]:
str1 #entire

In [ ]:
str1[::] #entire #str1[lpwer limit:upper limit:step(optional)]

In [ ]:
str1[:] #entire #str1[lower limit: upper limit]

In [24]:
str1[::2]

'ecl'

In [25]:
str1[::-1]

'rlecxe'

In [28]:
print(str1[-1]);print(str1[5])

r
r

In [29]:
str1 = "excelr"
len(str1)  #len(var) #length - default fn

6

In [30]:
type(str1)

str

In [35]:
#updataing or #concatinating
str1 = "excelr"
str2 = "Solution" #you can add str to str

print(str1 + ' ' + str2)
print(str1+"5")
print(str1+str(5))

#TypeError : can only concatenate str (not "int") to str

excelr Solution
excelr5
excelr5

In [44]:
# triple quatation # write the str in multiple lines
new = """This is For an "example" For your understanding"""
print(new)

This is For an "example" For your understanding

In [45]:
new1 = new.replace("For","To",2) #replace(old,new) , count = 2
print(new1)

This is To an "example" To your understanding

In [40]:
new_str="""this is first line1
      this ts second line2"""
print(new_str)

this is first line1
      this ts second line2

In [42]:
new_str1= "this is first line\
   this is second line\
   this is third line"
print(new_str1)

this is first line   this is second line   this is third line

In [ ]:
# \n - new line or next line

In [46]:
#different inbuilt fn's for diff datatypes
#str
str2="shubham"
print(str2)

shubham

In [47]:
str2.replace("s","h")

'hhubham'

In [48]:
#replace
help(str2.replace)
#replace(old,new)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [50]:
#split()
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [12]:
#split()

New = """This is For an "example".For your understanding"""
print(New)
new.split() #split #sep = None
New.split(".")
print(len(new.split()))
New.split("an")
print(len(New.split("an")))

This is For an "example".For your understanding
7
3

In [13]:
new2 = """I'm, manish.
     I, am dhawan.
     I, am a footballer"""
new2.split(".")

["I'm, manish", '\n     I, am dhawan', '\n     I, am a footballer']

In [20]:
#str.count(subdtr)
new2.count("footballer")
new2.count("i")
new2.count("I")

3

In [21]:
#upper()
new2.upper() #convert the string in capitals

"I'M, MANISH.\n     I, AM DHAWAN.\n     I, AM A FOOTBALLER"

In [22]:
#lower()
new2.lower() #convert the string in lower

"i'm, manish.\n     i, am dhawan.\n     i, am a footballer"

In [25]:
#title()
new="excelr solution is a traning institute"
new.title()

'Excelr Solution Is A Traning Institute'

In [26]:
#capitalize
new.capitalize()

'Excelr solution is a traning institute'

In [33]:
new = "123s"
# .isalnum - checks whether the str is entirely alpha or numeric or mix of the. if yes , True 
print(new.isalpha(),new.isalnum(),new.isnumeric()) #output - boolean values - True or False
new = "123"
print(new)
new.isalnum()

False True False
123

True

In [3]:
print(list("python"))
print(tuple("python"))

('p', 'y', 't', 'h', 'o', 'n')

## List (Mutable)

In [5]:
list_1 = [5,2.2,True,'text']
list_2 = [1,23,4,5,6,7.5]
tuple = (5,2.2,True,'text')
print(list_1)
print(list_2)
print(tuple)

[5, 2.2, True, 'text']
[1, 23, 4, 5, 6, 7.5]
(5, 2.2, True, 'text')

In [6]:
id(list_1) #id(var)

1934267511360

In [14]:
list_1.append(34)#will add the elements from the end of the list

In [15]:
list_1

[5, 2.2, True, 'text', 25, 25, 25, 25, 25, 34]

In [18]:
list_1= [5,2.2,True,"text"]
    # 0  1    2    3
    #-4 -3   -2    -1

In [19]:
list_1[2:4]

[True, 'text']

In [20]:
list_1[-3:-1]

[2.2, True]

In [21]:
list_1[1:]

[2.2, True, 'text']

In [23]:
list_1[:]

[5, 2.2, True, 'text']

In [25]:
list_1[-2:]

[True, 'text']

In [26]:
list_1[::-1] #reverse order

['text', True, 2.2, 5]

In [28]:
len(list_1)

4

In [29]:
type(list_1)

list

In [31]:
#append , extned,insert,pop,remove
list_1 = [5,2.2,True,"text"]

In [32]:
list_1.append(25)

In [33]:
list_1

[5, 2.2, True, 'text', 25]

In [36]:
help(list_1.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [38]:
#insert()  #use to insert the value in list
list_1.insert(4,"text1")

In [39]:
list_1

[5, 2.2, True, 'text', 'text1', 25]

In [ ]:
list_1 = [5,2.2,True,"text"]
list_2 = [1,2,4,3]

In [41]:
#extend
list_1.extend(list_2)

In [42]:
list_1

[5, 2.2, True, 'text', 'text1', 25, 1, 23, 4, 5, 6, 7.5, 1, 23, 4, 5, 6, 7.5]

In [43]:
list_1 = [5,2.2,True,"text"]
list_2 = [1,2,3,4,5,6,7]
list_1.append(list_2)
print(list_1)
# nasted list => a list within a list

[5, 2.2, True, 'text', [1, 2, 3, 4, 5, 6, 7]]

In [44]:
list_1

[5, 2.2, True, 'text', [1, 2, 3, 4, 5, 6, 7]]

In [45]:
list_1[4][2:4]

[3, 4]

In [46]:
list_1[4][2]

3

In [47]:
list_1[-1][-5]

3

In [48]:
list_1[-1][2]

3

In [49]:
new_list = [5, 2.2, True, 'text', [1, 2, 3,[10,12,13], 4, 5, 6, 7]]
new_list

[5, 2.2, True, 'text', [1, 2, 3, [10, 12, 13], 4, 5, 6, 7]]

In [51]:
new_list[4][3].append(14)

In [52]:
new_list

[5, 2.2, True, 'text', [1, 2, 3, [10, 12, 13, 14], 4, 5, 6, 7]]

In [53]:
new_list[4][3].insert(1,12)

In [54]:
new_list

[5, 2.2, True, 'text', [1, 2, 3, [10, 12, 12, 13, 14], 4, 5, 6, 7]]

In [ ]:
list1 = [5,2.2,True,"text"]

In [56]:
#reverse #mutable
list_1 = [5,2.2,True,"text"]
list_1.reverse()

In [57]:
list_1

['text', True, 2.2, 5]

In [59]:
#remove()
list_1.remove(True)

In [60]:
list_1

['text', 2.2, 5]

In [61]:
#pop()
#pop(+ve)
#pop(-ve)

list_1.pop(-1) #index to remove value #() - elimiante or remove last element ; (2) remove the value in index 2

5

In [63]:
list_1

['text', 2.2]

In [64]:
list_1.pop(1)

2.2

In [65]:
#clear() empty list
list_1.clear()

In [66]:
list_1

[]

In [69]:
list_1*4

[]

In [70]:
list_3 = [12,23,24]

In [71]:
list_3

[12, 23, 24]

In [72]:
max(list_3) #list,tuple,set

24

In [73]:
min(list_3)

12

In [74]:
help(list_3.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [75]:
list_3 = [12,23,35,32]
list_3.sort() #ascending order , #key = None, #reverse = False

In [76]:
list_3

[12, 23, 32, 35]

In [80]:
list_3.sort(reverse=True)
print(list_3)

[35, 32, 23, 12]

In [82]:
list3 = ['c' , 'c++' , 'python' , 'java' , 'apple']
list3.sort()  #key=None,reverse=False #a-z
print(list3)

['apple', 'c', 'c++', 'java', 'python']

In [85]:
list3.sort(reverse = True) #z-a
print(list3)

['python', 'java', 'c++', 'c', 'apple']

In [86]:
list3.sort(key=len,reverse=False) #sscending order

In [87]:
list3

['c', 'c++', 'java', 'apple', 'python']